# Examen Final - Mortalidad Materna
#### Fernanda Sosa

## Introducción 

La base de datos contiene información de los casos de defunción relacionados con la mortalidad materna, esta información es pública. 


## Reglas
 - Tendrán 3 horas para la realización del examen. 
 - En cualquier momento, las alumnas podrán tomarse un descanso para ir al baño o para tomar café. En ningún momento se podrá conversar con sus compañeras. 
 - Pueden usar sus códigos y recursos en línea. 
 - No pueden trabajar en equipo. 
 - El resultado de esta evaluación es puramente para encontrar áres de oportunidad en la forma de trabajo de CEROUNO. La calificación obtenida no pone en juego de ninguna manera la permanencia en el programa. 
 - No se podrá ofrecer ayuda por parte del mentor y del asistente de clase para la solución del examen. Las únicas dudas que podrán ser respondidas son las pertinentes a los secretos del universo.
 
## Parte 1 - Presentación ( 5 puntos )
 
Presenta tus resultados en una libreta de Jupyter de manera clara y concisa. Deberás explicar tu método de resolución, el algoritmo, las gráficas y/o DataFrame final y las conclusiones.

## Parte 2 - Preámbulo ( 5 puntos )

Presenta todo lo necesario para comenzar tu análisis de la información. Todo deberá estar comentado para que el usuario final y puede ser entendido




## Parte 3 - Análisis inicial (20 puntos)

- Nombre de los encabezados 
- Muestra un DataFrame que contenga: Edad cumplida, Descripción del estado conyugal, Tamaño de localidad, Localidad de ocurrencia, Descrición de la localidad de ocurrencia
- ¿Cuántas edades diferentes tenían las madres cuando fallecieron? Obten los estadísticos para esta columna y los valores de las edades diferentes. 
- Imprime los valores de los años de defunción ¿ Existen datos que son lógicos, es decir, están correctos? 
- ¿Cuántos tipos de escolaridad existen? ¿Hay datos innecesarios o equivocados en la base de datos? 
- ¿Qué entidad tiene mayor número muertes? 

 ## Parte 4 - Búsqueda de datos (25 puntos + 5 puntos extra )
 
Imprime 2 DataFrames que sinteticen cierta información. Estos DataFrames deberán estar explicados con el contexto y el razón de porque son relevantes. Imprime solo el encabezado. 

Puntos extra: Entrega un análisis simple de cada DataFrame
 
 ## Parte 5 - Información gráfica (40 puntos + 20 puntos extra)

- Realiza un analísis utilizando una gráfica de línea

- Realiza un análisis de la relación entre dos variables. 

- Realizar un análisis donde se necesite usar histogramas. 

- Presenta un análisis utilizando una gráfica de barras de los indicadores para múltiples paises. (PUNTOS EXTRA) 

- Realicen una análisis de correlación para 4 variables (PUNTOS EXTRA) (¿Scatter or density?)

## Resolución Examen Final - Nov 16, 2018 

## Parte 2  

Se analizaran los datos obtenidos de la base de datos mortalidad.csv, para ellos se utilizarán herramientas de las librerías de Python: Numpy, Pandas y Matplotlib.plypot. 

Lo primero que se hará será importar las librerias necesarias, y hacer una primera exploración de los datos para ver con que se cuenta, así como la información solicitada en la parte tres, imprimiendo diferentes DataFrames.

In [1]:
#Importando librerias

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Cargando el archivo csv que contiene los datos a analizar (mortalidad.csv)

MORT = pd.read_csv('~/Desktop/Archivos clases DS/mortalidad.csv')

In [9]:
MORT.head()

,Año de nacimiento,Mes de nacimiento,Descripción del mes de nacimiento,Día de nacimiento,Genero,Clave de la edad,Edad cumplida,Estado conyugal,Descripción del estado conyugal,Entidad de residencia,...,Mes de registro,Descripción del mes de registro,Día de registro,Año de la certificación,Mes de la certificación,Descripció del mes de la certificación,Día de la certificación,Año de la base de datos,Razón de mortalidad materna,Descrición de la razón de mortalidad materna
0,1972,6,JUNIO,25,2,A,29,5,CASADO,31,...,1,ENERO,20,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
1,1967,2,FEBRERO,1,2,A,35,5,CASADO,31,...,7,JULIO,28,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
2,1973,6,JUNIO,21,2,A,29,5,CASADO,31,...,10,OCTUBRE,24,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
3,1966,1,ENERO,23,2,A,36,5,CASADO,31,...,10,OCTUBRE,20,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
4,1975,0,NO ESPECIFICADO,0,2,A,30,5,CASADO,9,...,4,ABRIL,8,2005.0,4,ABRIL,8.0,2005,1,Muertes Maternas para la razón de Mortalidad M...

## Parte 3

In [8]:
#El primer paso será obtener el nombre los encabezados del csv 

encabezados = list(MORT.columns.values)

print('Los encabezados que se obtienen de los datos mortalidad.,csv son: ' +str(encabezados))

# IMPROVE: conseguir la manera de borrar los corchetes

Los encabezados que se obtienen de los datos mortalidad.,csv son: ['Año de nacimiento', 'Mes de nacimiento', 'Descripción del mes de nacimiento', 'Día de nacimiento', 'Genero', 'Clave de la edad', 'Edad cumplida', 'Estado conyugal', 'Descripción del estado conyugal', 'Entidad de residencia', 'Descripción de entidad de residencia', 'Municipio de residencia', 'Descripción del municipio de residencia', 'Localidad de residencia', 'Descripión de la localidad de residencia', 'Tamaño de localidad', 'Descripción del tamaño de localidad', 'Ocupación habitual', 'Descripción de la ocupación habitual', 'Escolaridad', 'Descripción de la escolaridad', 'Derechiahabiencia', 'Descrición de la derechiahabiencia', 'Entidad de ocurrencia', 'Descripción de la entidad de ocurrencia', 'Municipio de ocurrencia', 'Descrición del municipio de ocurrencia', 'Localidad de ocurrencia', 'Descrición de la localidad de ocurrencia', 'Sitio donde ocurrio la defunción', 'Descripción del sitio donde ocurrio la defunción', 'Año de la defunción', 'Mes de la defunción', 'Descrición del mes de la defunción', 'Día de la defunción', 'Hora de la defunción', 'Minutos de la defunción', 'Asistencia médica', 'Descripción de la asistencia médica', 'Causa CIE a  cuarto dígito', 'Descrición de la causa CIE', 'Quien certificó', 'Descrición de quien certificó', 'Entidad de registro', 'Descrición de la entidad de registro', 'Municipio de registro', 'Descrición del municipio de registro', 'Año de registro', 'Mes de registro', 'Descripción del mes de registro', 'Día de registro', 'Año de la certificación', 'Mes de la certificación', 'Descripció del mes de la certificación', 'Día de la certificación', 'Año de la base de datos', 'Razón de mortalidad materna', 'Descrición de la razón de mortalidad materna']

In [127]:
# Imprimiendo DataFrame con estás cinco columnas solamente: Edad cumplida, Descripción del estado conyugal, Tamaño de localidad, Localidad de ocurrencia, Descrición de la localidad de ocurrencia

# IMPROVE: Entiendo que hubiera sido más eficiente crear un DataFrame con esas 5 columnas, en vez de borrar 47, pero no me funcionó lo que intenté, para no dedicar demasiado tiempo a cada tarea, vuelvo a este punto luego. 

MORT_5 = MORT.drop(['Año de nacimiento', 'Mes de nacimiento', 'Descripción del mes de nacimiento', 'Día de nacimiento', 'Genero', 'Clave de la edad', 'Estado conyugal', 'Entidad de residencia', 'Descripción de entidad de residencia', 'Municipio de residencia', 'Descripción del municipio de residencia', 'Localidad de residencia', 'Descripión de la localidad de residencia', 'Descripción del tamaño de localidad', 'Ocupación habitual', 'Descripción de la ocupación habitual', 'Escolaridad', 'Descripción de la escolaridad', 'Derechiahabiencia', 'Descrición de la derechiahabiencia', 'Entidad de ocurrencia', 'Descripción de la entidad de ocurrencia', 'Municipio de ocurrencia', 'Descrición del municipio de ocurrencia', 'Sitio donde ocurrio la defunción', 'Descripción del sitio donde ocurrio la defunción', 'Año de la defunción', 'Mes de la defunción', 'Descrición del mes de la defunción', 'Día de la defunción', 'Hora de la defunción', 'Minutos de la defunción', 'Asistencia médica', 'Descripción de la asistencia médica', 'Causa CIE a  cuarto dígito', 'Descrición de la causa CIE', 'Quien certificó', 'Descrición de quien certificó', 'Entidad de registro', 'Descrición de la entidad de registro', 'Municipio de registro', 'Descrición del municipio de registro', 'Año de registro', 'Mes de registro', 'Descripción del mes de registro', 'Día de registro', 'Año de la certificación', 'Mes de la certificación', 'Descripció del mes de la certificación', 'Día de la certificación', 'Año de la base de datos', 'Razón de mortalidad materna', 'Descrición de la razón de mortalidad materna'],axis=1)

#El DataFrame de las 5 columnas solicitadas se vería así:  

pd.DataFrame(MORT_5)

,Edad cumplida,Descripción del estado conyugal,Tamaño de localidad,Localidad de ocurrencia,Descrición de la localidad de ocurrencia
0,29,CASADO,9,1,311020001 Valladolid
1,35,CASADO,9,1,310500001 Mérida
2,29,CASADO,4,1,310560001 Oxkutzcab
3,36,CASADO,1,1,310500001 Mérida
4,30,CASADO,0,0,090160000 No especificado
5,30,CASADO,0,0,090120000 No especificado
6,20,CASADO,12,0,150580000 No especificado
7,27,CASADO,15,1,150570001 Naucalpan de Juárez
8,43,CASADO,1,1,320170001 Guadalupe
9,31,CASADO,13,1,320560001 Zacatecas
10,31,CASADO,13,1,030030001 La Paz
11,35,CASADO,3,1,110200001 León de los Aldama
12,39,CASADO,3,1,160530001 Morelia
13,29,CASADO,9,1,301180001 Orizaba
14,45,CASADO,14,1,270040001 Villahermosa
15,42,CASADO,1,1,270040001 Villahermosa
16,17,CASADO,14,1,280220001 Heroica Matamoros
17,35,CASADO,1,126,070400126 Aztlán
18,39,SE IGNORA,14,1,180170001 Tepic
19,43,CASADO,15,1,150580001 Ciudad Nezahualcóyotl
20,38,CASADO,13,1,120290001 Chilpancingo de los Bravo
21,36,CASADO,14,1,151040001 Tlalnepantla
22,26,CASADO,1,1,301930001 Veracruz
23,17,CASADO,14,1,301930001 Veracruz
24,21,CASADO,1,656,070520656 Buenavista
25,22,CASADO,6,1,301930001 Veracruz
26,45,CASADO,14,1,180170001 Tepic
27,43,CASADO,13,1,211560001 Tehuacán
28,26,CASADO,15,1,230050001 Cancún
29,40,CASADO,6,1,300870001 Xalapa-Enríquez
...,...,...,...,...,...
17202,25,SOLTERO,5,1,301930001 Veracruz
17203,39,CASADO,1,97,301750097 Ojo de Agua
17204,27,CASADO,8,1,301310001 Poza Rica de Hidalgo
17205,30,UNION LIBRE,5,1,301930001 Veracruz
17206,31,CASADO,4,1,310500001 Mérida
17207,33,CASADO,5,1,311020001 Valladolid
17208,30,CASADO,1,1,311020001 Valladolid
17209,16,SOLTERO,4,1,310500001 Mérida
17210,34,VIUDO,4,1,310500001 Mérida
17211,16,UNION LIBRE,15,1,310500001 Mérida
17212,26,UNION LIBRE,5,1,310500001 Mérida
17213,21,UNION LIBRE,15,1,310500001 Mérida
17214,32,CASADO,13,1,310500001 Mérida
17215,21,SOLTERO,6,1,310530001 Muna
17216,25,UNION LIBRE,2,1,320560001 Zacatecas
17217,27,UNION LIBRE,3,1,320170001 Guadalupe
17218,23,UNION LIBRE,1,1,320100001 Fresnillo
17219,29,CASADO,1,1,320520001 Villa García
17220,16,SOLTERO,2,1,320170001 Guadalupe
17221,27,UNION LIBRE,6,1,320100001 Fresnillo
17222,27,UNION LIBRE,5,1,320560001 Zacatecas
17223,37,CASADO,2,1,300470001 Coscomatepec de Bravo
17224,26,SOLTERO,1,1,300440001 Córdoba
17225,23,UNION LIBRE,2,1,301380001 Río Blanco
17226,27,SOLTERO,5,1,300440001 Córdoba
17227,20,SOLTERO,10,1,310500001 Mérida
17228,45,CASADO,2,1,320560001 Zacatecas
17229,21,SOLTERO,5,1,310500001 Mérida
17230,39,CASADO,2,1,320370001 Pánuco
17231,25,CASADO,13,1,320170001 Guadalupe

In [128]:
# Respondiendo pregunta: ¿Cuántas edades diferentes tenían las madres cuando fallecieron? Obten los estadísticos para esta columna y los valores de las edades diferentes.

Edades_unicas = MORT['Edad cumplida'].unique()

Cant_edades_unicas = len(MORT['Edad cumplida'].unique())

print('En la base de datos hay ' +str(Cant_edades_unicas)+ ' edades diferentes para las madres fallecidas, y la lista de edades son las siguientes:' +str(Edades_unicas))

En la base de datos hay 50 edades diferentes para las madres fallecidas, y la lista de edades son las siguientes:[ 29  35  36  30  20  27  43  31  39  45  42  17  38  26  21  22  40  44
  34  41  33  13  24  25  37  19  23  32  28 998  15  46  48  16  18  12
  47  14  51  50  54  49  11  53  81  70  82  59  86  65]

In [59]:
#Para analizar estadísticamente la edad de las madres fallecidas se crea la variable "Edades"

Edades = MORT[['Edad cumplida']] 

Edades.describe()

       Edad cumplida
count   17232.000000
mean       29.765727
std        36.916010
min        11.000000
25%        22.000000
50%        28.000000
75%        34.000000
max       998.000000

In [58]:
#Análisis de los que se puede observar en la tabla de las edades: 

print('Las madres fallecidas tenían en promedio 29 años cumplidos. La menor con una edad de 11 años, y la madre con mayor edad registrada en la base de datos aparece con 998 años. Este último dato es claramente un error, y para obtener mejor información estadística como promedio y desviación estándar, se recomienda eliminar este dato. Lo que sí se puede saber es que el 25% de las madres era menor a 22 años, y el 75% era menor a 34.')

Las madres fallecidas tenían en promedio 29 años cumplidos. La menor con una edad de 11 años, y la madre con mayor edad registrada en la base de datos aparece con 998 años. Este último dato es claramente un error, y para obtener mejor información estadística como promedio y desviación estándar, se recomienda eliminar este dato. Lo que sí se puede saber es que el 25% de las madres era menor a 22 años, y el 75% era menor a 34.

In [91]:
# Imprime los valores de los años de defunción ¿ Existen datos que son lógicos, es decir, están correctos?

fecha_defuncion = MORT['Año de la defunción'].unique()

MORT['Año de la defunción'].unique()

array([2002, 2005, 2003, 2008, 2013, 2012, 2009, 2010, 2011, 2004, 2006,
       2007, 2001, 1979, 1989, 1974, 1964, 1982, 1959, 1990, 1980, 1994,
       1977, 1976, 1938, 1970, 1949, 1997, 1956, 1961, 1957, 1985, 1975,
       2000,    0, 1948, 1971, 1978, 1984, 1993, 1992, 1972, 1973, 1986,
       1988, 1937, 1965, 1944, 1987, 1943, 1958, 1967, 1968, 1995, 1991,
       1969, 1999, 1966, 1963, 1953, 1954, 1962, 1950, 1996, 2014, 2015,
       1914, 1951, 2016])

In [66]:
#Para revisar si las fechas de defunción tienen sentido, quiero revisar la relación entre las fechas de defunción, fechas de registro y fechas de las bases de datos. Para eso, voy a crear una tabla que tenga estas columnas solamente.

MORT['Año de la base de datos'].unique()

array([2002, 2005, 2003, 2008, 2013, 2012, 2009, 2010, 2011, 2004, 2006,
       2007, 2014, 2015, 2016])

In [69]:
print('Las bases de datos son de los años 2002 al 2016, de manera consecutiva.')

Las bases de datos son de los años 2002 al 2016, de manera consecutiva.

In [78]:
FECHAS_DEF = MORT.drop(['Mes de nacimiento', 'Descripción del mes de nacimiento', 'Año de la certificación', 'Día de nacimiento', 'Genero', 'Clave de la edad', 'Edad cumplida', 'Estado conyugal', 'Descripción del estado conyugal', 'Entidad de residencia', 'Descripción de entidad de residencia', 'Municipio de residencia', 'Descripción del municipio de residencia', 'Localidad de residencia', 'Descripión de la localidad de residencia', 'Tamaño de localidad', 'Descripción del tamaño de localidad', 'Ocupación habitual', 'Descripción de la ocupación habitual', 'Escolaridad', 'Descripción de la escolaridad', 'Derechiahabiencia', 'Descrición de la derechiahabiencia', 'Entidad de ocurrencia', 'Descripción de la entidad de ocurrencia', 'Municipio de ocurrencia', 'Descrición del municipio de ocurrencia', 'Localidad de ocurrencia', 'Descrición de la localidad de ocurrencia', 'Sitio donde ocurrio la defunción', 'Descripción del sitio donde ocurrio la defunción', 'Mes de la defunción', 'Descrición del mes de la defunción', 'Día de la defunción', 'Hora de la defunción', 'Minutos de la defunción', 'Asistencia médica', 'Descripción de la asistencia médica', 'Causa CIE a  cuarto dígito', 'Descrición de la causa CIE', 'Quien certificó', 'Descrición de quien certificó', 'Entidad de registro', 'Descrición de la entidad de registro', 'Municipio de registro', 'Descrición del municipio de registro', 'Mes de registro', 'Descripción del mes de registro', 'Día de registro', 'Mes de la certificación', 'Descripció del mes de la certificación', 'Día de la certificación', 'Razón de mortalidad materna', 'Descrición de la razón de mortalidad materna'],axis=1)

In [79]:
FECHAS_DEF.head(50)

,Año de nacimiento,Año de la defunción,Año de registro,Año de la base de datos
0,1972,2002,2002,2002
1,1967,2002,2002,2002
2,1973,2002,2002,2002
3,1966,2002,2002,2002
4,1975,2005,2005,2005
5,1975,2005,2005,2005
6,1985,2005,2005,2005
7,1978,2005,2005,2005
8,1958,2002,2002,2002
9,1970,2002,2002,2002
10,1972,2003,2003,2003
11,1966,2002,2002,2002
12,1969,2008,2008,2008
13,1973,2002,2002,2002
14,1960,2005,2005,2005
15,1963,2005,2005,2005
16,1988,2005,2005,2005
17,1978,2013,2013,2013
18,1974,2013,2013,2013
19,1970,2013,2013,2013
20,1974,2012,2012,2012
21,1977,2013,2013,2013
22,1983,2009,2009,2009
23,1992,2009,2009,2009
24,1989,2010,2010,2010
25,1987,2009,2009,2009
26,1966,2011,2011,2011
27,1968,2011,2011,2011
28,1985,2011,2011,2011
29,1971,2011,2011,2011
30,1970,2012,2012,2012
31,1967,2011,2011,2011
32,1976,2011,2011,2011
33,1976,2010,2010,2010
34,1975,2011,2011,2011
35,1977,2012,2012,2012
36,1970,2013,2013,2013
37,1978,2013,2013,2013
38,1979,2013,2013,2013
39,1962,2003,2003,2003
40,1962,2003,2003,2003
41,1983,2003,2003,2003
42,1973,2003,2003,2003
43,1965,2003,2003,2003
44,1964,2003,2003,2003
45,1960,2003,2003,2003
46,1970,2003,2003,2003
47,2000,2013,2013,2013
48,1969,2003,2003,2003
49,1981,2005,2005,2005

In [98]:
#Conclusiones sobre el análisis de los datos de "Año de defunción"

print('Luego de hacer un análisis de los años de nacimiento, defunción, registro de la defunción de las madres fallecidas, así como del año de la base de datos, se observa lo siguiente: 1. Las bases de datos que se están analizando son para los años consecutivos de 2002 a 2016, incluyendo datos de mortalidad materna para esos años y 2. Los datos para los años de defunción incluyen los siguientes años: ' +str(fecha_defuncion))
      
print('Con base en lo anterior se puede concluir que los años de defunción que sean anteriores al año 2002 son datos errados o, de ser casos ciertos, no tiene sentido que estén incluidos en estas bases de datos.')

Luego de hacer un análisis de los años de nacimiento, defunción, registro de la defunción de las madres fallecidas, así como del año de la base de datos, se observa lo siguiente: 1. Las bases de datos que se están analizando son para los años consecutivos de 2002 a 2016, incluyendo datos de mortalidad materna para esos años y 2. Los datos para los años de defunción incluyen los siguientes años: [2002 2005 2003 2008 2013 2012 2009 2010 2011 2004 2006 2007 2001 1979
 1989 1974 1964 1982 1959 1990 1980 1994 1977 1976 1938 1970 1949 1997
 1956 1961 1957 1985 1975 2000    0 1948 1971 1978 1984 1993 1992 1972
 1973 1986 1988 1937 1965 1944 1987 1943 1958 1967 1968 1995 1991 1969
 1999 1966 1963 1953 1954 1962 1950 1996 2014 2015 1914 1951 2016]
Con base en lo anterior se puede concluir que los años de defunción que sean anteriores al año 2002 son datos errados o, de ser casos ciertos, no tiene sentido que estén incluidos en estas bases de datos.

In [112]:
#Respondiendo a las preguntas: ¿Cuántos tipos de escolaridad existen? ¿Hay datos innecesarios o equivocados en la base de datos?

MORT[['Descripción de la escolaridad']]

desc_escolaridad = MORT['Descripción de la escolaridad'].unique()

print(desc_escolaridad)

len(desc_escolaridad)

print('Existen ' +str(len(desc_escolaridad))+ ' tipos diferentes de Escolaridad descritas en la base de datos.' ' Al parecer tienen sentido porque se incluyen todos los grados desde preescolar hasta posgrado, e incluyen la opción de Ninguna, así como No especificado.' 'Este último dato parece haberse registrado de dos maneras diferentes porque aoarece repetido con una variación en la presentación')

['PRIMARIA INCOMPLETA' 'SECUNDARIA INCOMPLETA' 'PROFESIONAL' 'NINGUNA'
 'SECUNDARIA COMPLETA' 'NO ESPECIFICADO' 'POSGRADO' 'PRIMARIA COMPLETA'
 'BACHILLERATO O PREPARATORIA COMPLETA'
 'BACHILLERATO O PREPARATORIA INCOMPLETA' 'NO ESPECIFICADO\r\n'
 'PREESCOLAR']
Existen 12 tipos diferentes de Escolaridad descritas en la base de datos. Al parecer tienen sentido porque se incluyen todos los grados desde preescolar hasta posgrado, e incluyen la opción de Ninguna, así como No especificado.Este último dato parece haberse registrado de dos maneras diferentes porque aoarece repetido con una variación en la presentación

In [119]:
# Respondiendo: ¿Qué entidad tiene mayor número muertes?

Entidades = MORT['Descripción de la entidad de ocurrencia']

## Parte 4 - Búsqueda de datos

In [131]:
# Voy a imprimir dos DataFrames que incluyan diferentres datos o variables, que me gustaría analizar por su relación entre ellas/. 

# La primera va a incluir, la edad de la madre, su nivel de escolaridad, y su estado conyugal. Quisiera hacer una comparación entre la incidencia de muertes con menos grados de escolaridad, así como de la incidencia de muerte con el estado conyugal. 

MORT[['Edad cumplida', 'Descripción de la escolaridad', 'Descripción del estado conyugal']]

,Edad cumplida,Descripción de la escolaridad,Descripción del estado conyugal
0,29,PRIMARIA INCOMPLETA,CASADO
1,35,PRIMARIA INCOMPLETA,CASADO
2,29,PRIMARIA INCOMPLETA,CASADO
3,36,PRIMARIA INCOMPLETA,CASADO
4,30,SECUNDARIA INCOMPLETA,CASADO
5,30,PROFESIONAL,CASADO
6,20,SECUNDARIA INCOMPLETA,CASADO
7,27,PROFESIONAL,CASADO
8,43,PRIMARIA INCOMPLETA,CASADO
9,31,PROFESIONAL,CASADO
10,31,PROFESIONAL,CASADO
11,35,NINGUNA,CASADO
12,39,PRIMARIA INCOMPLETA,CASADO
13,29,PROFESIONAL,CASADO
14,45,PROFESIONAL,CASADO
15,42,NINGUNA,CASADO
16,17,PRIMARIA INCOMPLETA,CASADO
17,35,PRIMARIA INCOMPLETA,CASADO
18,39,PRIMARIA INCOMPLETA,SE IGNORA
19,43,PRIMARIA INCOMPLETA,CASADO
20,38,PROFESIONAL,CASADO
21,36,PRIMARIA INCOMPLETA,CASADO
22,26,PRIMARIA INCOMPLETA,CASADO
23,17,SECUNDARIA INCOMPLETA,CASADO
24,21,SECUNDARIA INCOMPLETA,CASADO
25,22,PROFESIONAL,CASADO
26,45,PROFESIONAL,CASADO
27,43,PRIMARIA INCOMPLETA,CASADO
28,26,SECUNDARIA INCOMPLETA,CASADO
29,40,PRIMARIA INCOMPLETA,CASADO
...,...,...,...
17202,25,SECUNDARIA COMPLETA,SOLTERO
17203,39,SECUNDARIA COMPLETA,CASADO
17204,27,SECUNDARIA COMPLETA,CASADO
17205,30,BACHILLERATO O PREPARATORIA INCOMPLETA,UNION LIBRE
17206,31,PRIMARIA COMPLETA,CASADO
17207,33,SECUNDARIA COMPLETA,CASADO
17208,30,NINGUNA,CASADO
17209,16,SECUNDARIA INCOMPLETA,SOLTERO
17210,34,PRIMARIA INCOMPLETA,VIUDO
17211,16,BACHILLERATO O PREPARATORIA INCOMPLETA,UNION LIBRE
17212,26,NINGUNA,UNION LIBRE
17213,21,SECUNDARIA COMPLETA,UNION LIBRE
17214,32,PROFESIONAL,CASADO
17215,21,SECUNDARIA INCOMPLETA,SOLTERO
17216,25,SECUNDARIA COMPLETA,UNION LIBRE
17217,27,BACHILLERATO O PREPARATORIA COMPLETA,UNION LIBRE
17218,23,PRIMARIA COMPLETA,UNION LIBRE
17219,29,BACHILLERATO O PREPARATORIA COMPLETA,CASADO
17220,16,BACHILLERATO O PREPARATORIA INCOMPLETA,SOLTERO
17221,27,BACHILLERATO O PREPARATORIA COMPLETA,UNION LIBRE
17222,27,SECUNDARIA COMPLETA,UNION LIBRE
17223,37,PRIMARIA INCOMPLETA,CASADO
17224,26,SECUNDARIA COMPLETA,SOLTERO
17225,23,PRIMARIA COMPLETA,UNION LIBRE
17226,27,SECUNDARIA COMPLETA,SOLTERO
17227,20,SECUNDARIA COMPLETA,SOLTERO
17228,45,SECUNDARIA COMPLETA,CASADO
17229,21,BACHILLERATO O PREPARATORIA COMPLETA,SOLTERO
17230,39,PRIMARIA INCOMPLETA,CASADO
17231,25,SECUNDARIA COMPLETA,CASADO